<template lang="pug">
   q-input#inputRegister(outlined v-model="text"
                         :error="error"
                         error-message="A descrição da tarefa não pode ser vazia."
                         @keyup.enter.native="insertToDo"
                         placeholder="O que precisa ser feito?")
</template>

<style>
</style>

<script>
export default {
  name: 'ToDoItem',
  data() {
    return {
      text: '',
      error: false,
    };
  },
  methods: {
    async insertToDo() {
      if (!this.text) {
        this.error = true;
        return;
      }
      try {
        await this.$axios.post('todo', {
          completed: false,
          description: this.text,
        });
        this.$q.notify('Item inserido com sucesso.');
        this.text = '';
        this.error = false;
        this.$emit('created');
      } catch (error) {
        console.log('error', error);
      }
    },
  },
};
</script>
