<template lang="pug">
  q-item
    q-item-section(avatar)
      q-checkbox(v-model="checked" @input="updateItem")
    q-item-section {{text}}
    q-item-section(side)
      q-btn(@click="excludeItem" round icon="close" flat)
</template>

<style>
</style>

<script>
export default {
  name: 'ToDoItem',
  props: {
    text: {
      type: String,
      default: '',
    },
    value: {
      type: Boolean,
      default: false,
    },
    id: {
      type: Number,
    },
  },
  data() {
    return {
      close: false,
      checked: false,
    };
  },
  created() {
    this.checked = this.value;
  },
  methods: {
    async excludeItem() {
      try {
        let url = `todo?where={"id": ${this.id}}`;
        const response = await this.$axios.get(url);
        const item = response.data['_items'][0]; // eslint-disable-line dot-notation
        url = `todo/${item._id}`; // eslint-disable-line no-underscore-dangle
        await this.$axios.delete(url, {
          headers: { 'If-Match': item._etag }, // eslint-disable-line no-underscore-dangle
        });
        this.$q.notify('Item deletado com sucesso.');
        this.$emit('updated');
      } catch (error) {
        console.log('error', error);
      }
    },
    async updateItem() {
      try {
        let url = `todo?where={"id": ${this.id}}`;
        const response = await this.$axios.get(url);
        const item = response.data['_items'][0]; // eslint-disable-line dot-notation
        url = `todo/${item._id}`; // eslint-disable-line no-underscore-dangle
        await this.$axios.patch(url, {
          completed: this.checked,
        }, {
          headers: { 'If-Match': item._etag }, // eslint-disable-line no-underscore-dangle
        });
        this.$q.notify({
          message: 'Item alterado com sucesso.',
          color: 'positive',
        });
        this.$emit('updated');
      } catch (error) {
        console.log('error', error);
      }
    },
  },
};
</script>
