<template lang="pug">
  q-page(class="flex flex-center")
    div(class="column")
      h4(style="text-align: center;") todos
      to-do-item-register#registerItem(@created='fetchData')
      q-option-group(
        v-model="group"
        :options="groupOptions"
        color="primary"
        inline
        @input="fetchData"
      )
      div(v-drag-and-drop:options="options")
        q-list#listItems(bordered separator @reordered="reordered")
          to-do-item(v-for="item in todos" :key="item.id"
                    :data-id="item.id"
                    :id="item.id" @updated="fetchData"
                    v-model="item.completed" :text="item.description")
        p {{total}} tarefas
</template>

<style>
</style>

<script>
import ToDoItem from 'src/components/ToDoItem';
import ToDoItemRegister from 'src/components/ToDoItemRegister';

export default {
  name: 'PageIndex',
  components: {
    ToDoItem,
    ToDoItemRegister,
  },
  data() {
    return {
      text: '',
      teste: false,
      group: null,
      total: 0,
      todos: [],
      groupOptions: [
        { value: null, label: 'Todos' },
        { value: false, label: 'À fazer' },
        { value: true, label: 'Completos' },
      ],
      options: {
        dropzoneSelector: '.q-list',
        draggableSelector: '.q-item',
        handlerSelector: null,
        reactivityEnabled: true,
        multipleDropzonesItemsDraggingEnabled: true,
        showDropzoneAreas: true,
        onDrop: (event) => {}, // eslint-disable-line no-unused-vars
        onDragstart: (event) => {}, // eslint-disable-line no-unused-vars
        onDragend: (event) => {}, // eslint-disable-line no-unused-vars
      },
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    async updateItem(id, newOrder) {
      try {
        console.log('id', id, 'neworder', newOrder);
        let url = `todo?where={"id": ${id}}`;
        const response = await this.$axios.get(url);
        const item = response.data['_items'][0]; // eslint-disable-line dot-notation
        url = `todo/${item._id}`; // eslint-disable-line no-underscore-dangle
        await this.$axios.patch(url, {
          order: newOrder,
        }, {
          headers: { 'If-Match': item._etag }, // eslint-disable-line no-underscore-dangle
        });
      } catch (error) {
        console.log('error', error);
      }
    },
    async reordered(event) {
      console.log('event', event.detail.index, event.detail.ids);
      const detailIndex = event.detail.index;
      await this.updateItem(event.detail.ids[0], detailIndex);
      const idTodo = Number(event.detail.ids[0]);
      const actualItem = this.todos.find(v => v.id === idTodo);
      console.log('actual item', actualItem);
      for (let i = 0; i < this.todos.length; i += 1) {
        if (this.todos[i].id !== idTodo && this.todos[i].order >= event.detail.index
        && detailIndex < actualItem.order) {
          this.updateItem(this.todos[i].id, this.todos[i].order + 1);
        } else if (this.todos[i].id !== idTodo && this.todos[i].order >= actualItem.order
        && detailIndex > actualItem.order) {
          this.updateItem(this.todos[i].id, this.todos[i].order - 1);
        }
      }
      await this.fetchData();
      if (!event.droptarget) {
        console.log('event is dropped out');
      }
    },
    async fetchData() {
      try {
        let url = 'todo';
        if (this.group !== null) {
          url += `?where={"completed": ${this.group}}`;
        }
        const response = await this.$axios.get(url);
        this.todos = response.data['_items']; // eslint-disable-line dot-notation
        this.todos.sort((a, b) => {
          let comparison = 0;
          if (a.order > b.order) {
            comparison = 1;
          } else if (a.order < b.order) {
            comparison = -1;
          }
          return comparison;
        });
        this.total = response.data['_meta']['total']; // eslint-disable-line dot-notation
      } catch (error) {
        this.todos = [];
        console.log('error', error);
      }
    },
  },
};
</script>
